PORT = "3000"
mongo_uri="mongodb+srv://VinSmokeSanji:sanji@bee.lvgjcbi.mongodb.net/bee_db?retryWrites=true&w=majority&appName=BEE"
JWT_SECRET = "vinSmokeSanji"
REDIS_URL = "redis-13753.c10.us-east-1-2.ec2.redns.redis-cloud.com"
REDIS_PASSWORD = "ajJN0pRbs5cOZQiRSm0LnCmpEKqRjhGv"
REDIS_PORT = "13753"
REDIS_USERNAME = "default"
VERIFALIA_USERNAME="gagandeep1572.be23@chitkara.edu.in"
VERIFALIA_PASSWORD="mju7&UJM"